# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Parkhaus/Parkhaus/nbproject/private/
/Parkhaus/Parkhaus/build/
/Parkhaus/Parkhaus/dist/
/Parkhouse/nbproject/private/
/Parkhouse/build/
/Parkhouse/dist/
/vsuebung2/nbproject/private/
/vsuebung2/build/
/vsuebung2/dist/
/Chat/ChatApp/nbproject/private/
/Chat/ChatClient/nbproject/private/
/Chat/ChatServer/nbproject/private/
/Chat/ChatServer/build/
/Chat/ChatClient/build/
/UDPClient/nbproject/private/
/UDP/UDPServer/nbproject/private/
/UDP/UDPServer/build/
/UDP/UDPClient/build/
/UDP/UDPClient/nbproject/private/
/TCP/TCPClient/nbproject/private/
/TCP/TCPServer/nbproject/private/
/TCP/TCPServer/build/
/TCP/TCPClient/build/
/Uni_Uebung4/Student/nbproject/private/
/Uni_Uebung4/Client/nbproject/private/
/TCP/TCPClient/dist/
/Uni_Uebung4/Client/dist/
/Uni_Uebung4/Client/build/
/Uni_Uebung4/server/nbproject/private/
/Uni_Uebung4/server/build/
/Uni_Uebung4/server/dist/
/vsys/JavaApplication12/nbproject/private/
/vsys/uebung4/nbproject/private/
/vsys/uebung4/build/
/vsys/uebung4/dist/